/* body {
  background-color: brown;
} */

/* header */
.entete {
  border-style: solid;
  border-color: gray;
}
.container {
  border-style: solid;
  border-color: gray;
}
section {
  background-color: aquamarine;
}
